/* CSS file */
Canvas.MonsterQuestsIcon {
	border-skin: Embed(source="component.swf", symbol="Quests_Monster_Icon");
}

Canvas.UserSystemSettingBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasUserSystemSettingBg');
}


Canvas.PracticeArrow {
	border-skin	:Embed(source='container.swf', symbol='PracticeArrow');
}
Canvas.NewbieOrderBg {
	border-skin	:Embed(source='container.swf', symbol='NewbieOrderBg');
}
Canvas.NewbieEffectBox {
	border-skin	:Embed(source='container.swf', symbol='NewbieEffectBox');
}
Canvas.FairylandRecordBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasFairylandRecordBg');
}
Canvas.NewbieDownRightTip {
	border-skin	:Embed(source='container.swf', symbol='NewbieDownRightTip');
}
Canvas.NewbieDownLeftTip {
	border-skin	:Embed(source='container.swf', symbol='NewbieDownLeftTip');
}
Canvas.CanvasPetForgeHelpBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasPetForgeHelpBg');
}
Canvas.NewbieUpRightTip {
	border-skin	:Embed(source='container.swf', symbol='NewbieUpRightTip');
}
Canvas.NewbieUpLeftTip {
	border-skin	:Embed(source='container.swf', symbol='NewbieUpLeftTip');
}
Canvas.NewbieRedBox {
	border-skin	:Embed(source='container.swf', symbol='NewbieRedBox');
}
Canvas.NewbieYellowBox {
	border-skin	:Embed(source='container.swf', symbol='NewbieYellowBox');
}
Canvas.NewbieDownArrow {
	border-skin	:Embed(source='container.swf', symbol='NewbieDownArrow');
}
Canvas.NewbieRightArrow {
	border-skin	:Embed(source='container.swf', symbol='NewbieRightArrow');
}
Canvas.CanvasMapMineAsk {
	border-skin	:Embed(source='container.swf', symbol='CanvasMapMineAsk');
}
Canvas.DragonBackGround {
	border-skin	:Embed(source='container.swf', symbol='DragonBackGround');
}
Canvas.CanvasRankBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasRankBg');
}
Canvas.CanvasMapMineMain {
	border-skin	:Embed(source='container.swf', symbol='CanvasMapMineMain');
}
Canvas.CanvasGrowthBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasGrowthBg');
}
Canvas.CanvasGrowthRefresh {
	border-skin	:Embed(source='container.swf', symbol='CanvasGrowthRefresh');
}
Canvas.CanvasGrowthMove {
	border-skin	:Embed(source='container.swf', symbol='CanvasGrowthMove');
}
Canvas.CanvasGrowthMiniMapBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasGrowthMiniMap');
}
Canvas.CanvasGrowthMapCover {
	border-skin	:Embed(source='container.swf', symbol='CanvasGrowthMapCover');
}
Canvas.CanvasGrowthMapBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasGrowthMapBg');
}
Canvas.CanvasPractice {
	border-skin	:Embed(source='container.swf', symbol='CanvasPractice');
}
Canvas.CommonAlertBg {
	border-skin	:Embed(source='container.swf', symbol='CommonAlertBg');
}

Canvas.CorpseBagBg {
	border-skin	:Embed(source='container.swf', symbol='CorpsePanelBg');
}

Canvas.RmbShopBg {
	border-skin	:Embed(source='container.swf', symbol='RmbShopPopupBg');
}

Canvas.RMBQuickBuyPopupBg {
	border-skin	:Embed(source='container.swf', symbol='RMBQuickBuyBg');
}

Canvas.RmbShopSearchReslut {
	border-skin	:Embed(source='container.swf', symbol='RmbShopSearchReslut');
}

Canvas.RmbShopSearchBg {
	border-skin	:Embed(source='container.swf', symbol='RmbShopSearchBg');
}

Canvas.RmbShopListItemBg {
	border-skin	:Embed(source='container.swf', symbol='RmbShopListItemBg');
}

Canvas.TeamButtonBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasTeamButtonBg');
}

Canvas.TeleporterBg {
	border-skin	:Embed(source='container.swf', symbol='TeleporterBg');
}

Canvas.CanvasAddAttention {
	border-skin	:Embed(source='container.swf', symbol='CanvasAddAttention');
}

Canvas.ChatChanelItemBg {
	border-skin:Embed(source="component.swf", symbol="MenuRollOverBg");
}

TitleWindow.SelectCountBg {
	border-skin	:Embed(source='container.swf', symbol='TooltipBg');
	close-button-down-skin: Embed(source="component.swf", symbol="MapFavoriteCloseButton_downSkin");
	close-button-over-skin: Embed(source="component.swf", symbol="MapFavoriteCloseButton_overSkin");
	close-button-up-skin: Embed(source="component.swf", symbol="MapFavoriteCloseButton_upSkin");
}

Canvas.heroStatusBg {
	border-skin	:Embed(source='container.swf', symbol='HeroStatusBg');
}
Canvas.heroPetStatusBg {
	border-skin	:Embed(source='container.swf', symbol='HeroPetStatusBg');
}

Canvas.MainBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasMainBg');
}

Canvas.MenuBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasMenuBg');
}

Canvas.MiniMapBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasMiniMapBg');
}

Canvas.ContribBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasContribBg');
}

TitleWindow.favoritesBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasFavoritesBg');
	close-button-down-skin: Embed(source="component.swf", symbol="MapFavoriteCloseButton_downSkin");
	close-button-over-skin: Embed(source="component.swf", symbol="MapFavoriteCloseButton_overSkin");
	close-button-up-skin: Embed(source="component.swf", symbol="MapFavoriteCloseButton_upSkin");
}

Canvas.PetShopListItemBg {
	border-skin	:Embed(source='container.swf', symbol='PetShopListItemBg');
}

Canvas.TooltipBg {
	border-skin	:Embed(source='container.swf', symbol='TooltipBg');
	font-family:	"宋体,Arial";
	paddingLeft : 6;
	paddingRight : 6;
	paddingBottom : 12;
	paddingTop: 12;
}

Canvas.TooltipInTooltipStyle {
	font-family:	"宋体,Arial";
	paddingLeft : 10;
	paddingRight : 0;
	paddingBottom : 0;
	paddingTop: 8;
}

Canvas.PetShopListItemDisBg {
	border-skin	:Embed(source='container.swf', symbol='PetShopListItemDisBg');
}
Canvas.PetForgeResultBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasPetForgeResultBg');
}

Canvas.PetSecondaryInfoBg {
	border-skin	:Embed(source='container.swf', symbol='PetSecondaryInfoBg');
}

Canvas.PetDetailBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasPetDetailBg');
}

Canvas.PetGrowDetailBg {
	border-skin	:Embed(source='container.swf', symbol='PetGrowDetailBg');
}

Repeater.ChannelSelectBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasChannelSelectBg');
}

Canvas.ZoomInIconBg {
	border-skin	:Embed(source='component.swf', symbol='ZoomInIconBg');
}

Canvas.black {
	border-skin	:Embed(source='container.swf', symbol='CanvasBg_black');
}

Canvas.blackForText {
	border-skin	:Embed(source='container.swf', symbol='CanvasBg_blackForText');
}

Canvas.gray {
	border-skin	:Embed(source='container.swf', symbol='CanvasBg_gray');
}

Canvas.blackWithBorder {
	border-skin	:Embed(source='container.swf', symbol='CanvasBg_blackWithBorder');
}

Canvas.grayBlackWithBorder {
	border-skin	:Embed(source='container.swf', symbol='CanvasBg_grayBlackWithBorder');
}

Canvas.solidGrayWithContent {
	border-skin	:Embed(source='container.swf', symbol='CanvasBg_solidGrayWithContent');
}

Canvas.blackRect {
	border-skin: Embed(source='container.swf', symbol='CanvasBg_rectBlack');
}

Canvas.alphaGrayWithBorder {
	border-skin	:Embed(source='container.swf', symbol='CanvasBg_alphaGrayWithBorder');
}

Canvas.containerBorderSkin {
	border-skin	:Embed(source='container.swf', symbol='CanvasBg_borderSkin');
}

Canvas.alphaBlackWithBorder {
	border-skin	:Embed(source='container.swf', symbol='CanvasBg_alphaBlackWithBorder');
}

Canvas.EndWorkBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasEndWorkBg');
}

Canvas.alphaBlack {
	border-skin	:Embed(source='container.swf', symbol='CanvasBg_alphaBlack');
}

Canvas.red {
	border-skin	:Embed(source='container.swf', symbol='CanvasBg_red');
}

Canvas.solidGray {
	border-skin	:Embed(source='container.swf', symbol='CanvasBg_solidGray');
}
Canvas.blackTitle {
	background-color:#181512;
}
Canvas.blackContent {
	border-skin	:Embed(source='container.swf', symbol='CanvasBg_blackContent');
}

Canvas.canvasSmallPanel {
	border-skin	:Embed(source='container.swf', symbol='CanvasBg_smallPanel');
}

Canvas.MapOptionBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasMapOptionBg');
}

Canvas.VillageResourceBarBg {
	border-skin	:Embed(source='container.swf', symbol='VillageResourceBarBg');
}

Canvas.VillageResourceDetailBg {
	border-skin	:Embed(source='container.swf', symbol='VillageResourceDetailBg');
}

Canvas.verticalLinearWhiteBlack {
	border-skin	:Embed(source='container.swf', symbol='CanvasBg_verticalLinearWhiteBlack');
}

Canvas.IntelligenceDetailBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasIntelligenceDetailBg');
}

Canvas.OutpostBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasOutpostBg');
}

Canvas.AddFavouriteBg{
	border-skin	:Embed(source='container.swf', symbol='CanvasAddFavouriteBg');
}

Canvas.MapVillageBg{
	border-skin	:Embed(source='container.swf', symbol='CanvasMapVillageBg');
}

Canvas.MapWildSceneBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasMapWildSceneBg');
}

Canvas.MapClanBg{
	border-skin	:Embed(source='container.swf', symbol='CanvasMapClanBg');
}


Canvas.MapTeleporterBg{
	border-skin	:Embed(source='container.swf', symbol='CanvasMapTeleporterBg');
}


Tile.CanvasFaceSelectorBg{
	paddingTop: 5px;
	paddingLeft: 5px;
	horizontalGap: 1px;
	verticalGap: 1px;
	border-skin: Embed(source='container.swf', symbol='CanvasFaceSelectorBg');
}
Canvas.CanvasFaceSelectorItemBg{
	border-skin: Embed(source='container.swf', symbol='CanvasFaceSelectorItemBg');
}

Canvas.CanvasCongregateBg {
	border-skin: Embed(source='container.swf', symbol='CanvasCongregateBg');
}

Canvas.AssignPositionBg{
	border-skin:Embed(source='container.swf', symbol='CanvasAssignPositionBg');
}

Canvas.VillageNoticeBg{
	border-skin:Embed(source='container.swf', symbol='CanvasVillageNoticeBg');
}

Canvas.SpeakerPopupBg {
	border-skin:Embed(source='container.swf', symbol='CanvasSpeakerPopupBg');
}

Canvas.NPCPopUpBg {
	border-skin:Embed(source='container.swf', symbol='CanvasNPCPopUpBg');
}
Canvas.CanvasNPCPopUpBottomBG {
	border-skin:Embed(source='container.swf', symbol='CanvasNPCPopUpBottomBG');
}

Canvas.CanvasQuestsAwardBg {
	border-skin:Embed(source='container.swf', symbol='CanvasQuestsAwardBg');
}

Canvas.CanvasQuestsAwardSmallBg {
	border-skin:Embed(source='container.swf', symbol='CanvasQuestsAwardSmallBg');
}

Canvas.QuestsPopupTopListTitleBg {
	border-skin:Embed(source='container.swf', symbol='QuestsPopupTopListTitleBg');
}

Canvas.QuestsPopupTopContentTitleBg {
	border-skin:Embed(source='container.swf', symbol='QuestsPopupTopContentTitleBg');
}

Canvas.MiniQuestsTitleBg {
	border-skin:Embed(source='container.swf', symbol='MiniQuestsTitleBg');
}

Canvas.MiniQuestsContentBg {
	border-skin:Embed(source='container.swf', symbol='MiniQuestsBg');
}
VBox.MiniQuestsBg {
	backgroundAlpha: 0;
	vertical-scroll-bar-style-name: MiniQuestsScrollBar;
}

Canvas.BaseCellBg {
	border-skin:Embed(source='container.swf', symbol='BaseCellBg');
}

Canvas.BaseCellDisBg {
	border-skin:Embed(source='container.swf', symbol='BaseCellDisabledBg');
}

Canvas.DetetctFail {
	border-skin:Embed(source='container.swf', symbol='CanvasDetectFail');
}

Canvas.DetetctResult {
	border-skin:Embed(source='container.swf', symbol='CanvasDetectResult');
}

Canvas.RobFail {
	border-skin:Embed(source='container.swf', symbol='CanvasRobFail');
}

Canvas.RobResult {
	border-skin:Embed(source='container.swf', symbol='CanvasRobResult');
}

CellProgressBar.PetGenerationBar {
	cell-active-skin:Embed(source='container.swf', symbol='PetGenerationActiveBg');
	cell-un-active-skin:Embed(source='container.swf', symbol='PetGenerationUnActiveBg');
}

CellProgressBar.PetStarBar {
	cell-active-skin:Embed(source='container.swf', symbol='PetStarActiveBg');
	cell-un-active-skin:Embed(source='container.swf', symbol='PetStarUnActiveBg');
}

Canvas.GemIconBg {
	border-skin:Embed(source='container.swf', symbol='GemsBg');
}

Canvas.PetInitSkillBg {
	border-skin:Embed(source='container.swf', symbol='PetInitSkillBg');
}

Canvas.SelectItemTipBg {
	border-skin:Embed(source='container.swf', symbol='SelectItemTipBg');
}

IconLabel.Gems {
	icon:Embed(source='container.swf', symbol='GemsBg');
}

Canvas.LabaIconBg {
	border-skin:Embed(source='container.swf', symbol='LabaIconBg');
}

Canvas.LabaBg {
	border-skin:Embed(source='container.swf', symbol='LabaBg');
}

Canvas.UseItemSmallBg {
	border-skin:Embed(source='container.swf', symbol='UseItemBg_2');
}

Canvas.UseItemBigBg {
	border-skin:Embed(source='container.swf', symbol='UseItemBg_1');
}

Canvas.BuildingUpgradeTipBg {
	border-skin:Embed(source='container.swf', symbol='BuildingUpgradeTipBg');
}

Canvas.LoginPriceItemBg {
	border-skin:Embed(source='container.swf', symbol='LoginPriceItemBg');
}

Canvas.LoginPrizePanelBg{
	border-skin:Embed(source='container.swf', symbol='LoginPrizePanelBg');
}

Canvas.OnlinePrizePanelBg{
	border-skin:Embed(source='container.swf', symbol='OnlinePrizePanelBg');
}
Canvas.CanvasAltarReslutBg{
	border-skin:Embed(source='container.swf', symbol='CanvasAltarReslutBg');
}
/***激活***/
Canvas.ActiveAccountBg{
	border-skin:Embed(source='container.swf', symbol='ActiveAccountBg');
}

/***背包***/
GameNavigator{
	NavigateBagMC:Embed(source='component.swf', symbol='NavigateBagMC');
}
GameNavigator{
	NavigatePetMC:Embed(source='component.swf', symbol='NavigatePetMC');
}