/* CSS file */

Text.yellowArial {
	font-size: 13;
	color: #EDF152;
	font-family: Arial;
}
Text.white {
	font-size: 12;
	color: #F4F4F4;
}

Text.grayWhite {
	color: #CCCCCC;
}

Text.grayPurple {
	color: #55C6CE;
}

Text.gray {
	color: #83807B;
}

Text.green {
	color: #448800;
}

Text.chatText {
	color:			#FFFFFF;
	font-size:		12;
}

Text.listHeaderText {
	text-align:center;
	color: #EEEEEE;
}

UITLFText.linearTextBlock {	
	paddingLeft: 2;
	paddingRight: 2;
	paddingTop: 4;
	paddingBottom: 4;
	font-size: 12;
	color: #BBBBAA;
	disabled-color: #666666;
	backgroundAlpha: 0;
	borderStyle:none;
	backgroundColor: #F0F0F0;
	focus-thickness: 0;
}
Canvas.linearTextBG {
	border-skin: Embed(source="component.swf", symbol="TextInputLinear_upSkin");
}

TextInput.normalTextBlock {
	border-skin: Embed(source="component.swf", symbol="TextInput_upSkin");
	padding-left: 2;
	padding-right: 2;
	font-size: 12;
	color: #EEEEEE;
	disabled-color: #666666;
	backgroundAlpha: 0;
	borderStyle:none;
	backgroundColor: #F0F0F0;
	focus-thickness: 0;
}
TextInput.normalNotDisableTextBlock {
	border-skin: Embed(source="component.swf", symbol="TextInput_upSkin");
	padding-left: 2;
	padding-right: 2;
	font-size: 12;
	color: #EEEEEE;
	backgroundAlpha: 0;
	borderStyle:none;
	backgroundColor: #F0F0F0;
	focus-thickness: 0;
}
TextInput.normalFocusTextBlock {
	border-skin: Embed(source="component.swf", symbol="TextInput_upSkin");
	padding-left: 2;
	padding-right: 2;
	font-size: 12;
	color: #EEEEEE;
	disabled-color: #666666;
	backgroundAlpha: 0;
	borderStyle:none;
	backgroundColor: #F0F0F0;
	focus-thickness: 1;
}

TextInput.disabledTextBlock {
	border-skin: Embed(source="component.swf", symbol="TextInput_disabledSkin");
	
	padding-left: 2;
	padding-right: 2;
	font-size: 12;
	color: #EEEEEE;
	disabled-color: #666666;
	backgroundAlpha: 0;
	borderStyle:none;
	backgroundColor: #F0F0F0;
	focus-thickness: 0;
}

TextInput.editdisabledTextBlock {
	border-skin: Embed(source="component.swf", symbol="TextInputEditdisabled_upSkin");
	padding-left: 2;
	padding-right: 2;
	font-size: 12;
	color: #EEEEEE;
	disabled-color: #666666;
	backgroundAlpha: 0;
	borderStyle:none;
	backgroundColor: #F0F0F0;
	focus-thickness: 0;
}

TextInput.editdisabledNarrowTextBlock {
	border-skin: Embed(source="component.swf", symbol="TextInputEditdisabled_upSkin");
	padding-left: 0;
	padding-right: 0;
	font-size: 12;
	color: #EEEEEE;
	disabled-color: #666666;
	backgroundAlpha: 0;
	borderStyle:none;
	backgroundColor: #F0F0F0;
	focus-thickness: 0;
}

TextInput.miniTextBlock {
	border-skin: Embed(source="component.swf", symbol="TextInput_upSkin");
	padding-bottom: -4;
	padding-top: -1;
	font-size: 9;
	color: #EEEEEE;
	disabled-color: #666666;
	backgroundAlpha: 0;
	borderStyle:none;
	backgroundColor: #F0F0F0;
	focus-thickness: 0;
}

TextInput.narrowTextBlock {
	border-skin: Embed(source="component.swf", symbol="TextInput_upSkin");
	padding-left: 0;
	padding-right: 0;
	font-size: 12;
	color: #EEEEEE;
	disabled-color: #666666;
	backgroundAlpha: 0;
	borderStyle:none;
	backgroundColor: #F0F0F0;
	focus-thickness: 0;
}

TextInput.narrowMiniTextBlock {
	border-skin: Embed(source="component.swf", symbol="TextInput_upSkin");
	padding-left: 0;
	padding-right: 0;
	padding-top: -1;
	font-size: 12;
	color: #EEEEEE;
	disabled-color: #666666;
	backgroundAlpha: 0;
	borderStyle:none;
	backgroundColor: #F0F0F0;
	focus-thickness: 0;
}

TextInput.superNarrowMiniTextBlock {
	border-skin: Embed(source="component.swf", symbol="TextInput_upSkin");
	padding-left: -2;
	padding-right: -2;
	padding-top: -1;
	font-size: 12;
	color: #EEEEEE;
	disabled-color: #666666;
	backgroundAlpha: 0;
	borderStyle:none;
	backgroundColor: #F0F0F0;
	focus-thickness: 0;
}

TextInput.searchInput {
	border-skin: Embed(source="component.swf", symbol="TextInput_upSkin");
	padding-top:1;
	
	padding-left: 2;
	padding-right: 2;
	text-align: left;
	font-size: 12;
	color: #EEEEEE;
	disabled-color: #666666;
	backgroundAlpha: 0;
	borderStyle:none;
	backgroundColor: #FFFBFB;
	focus-thickness: 0;
}

/****全透明的textinput，没有bg，没有border，没有高亮*****/
TextInput.totalTransparentInput {
	focusThickness: 0; 
	backgroundAlpha: 0; 
	borderStyle: "none";
}

/****商城搜索默认样式*****/
TextInput.RmbSearchDefalutText {
	text-align: left;
	font-size: 12;
	color: #666666;
	disabled-color: #666666;
	backgroundAlpha: 0;
	borderStyle:none;
	backgroundColor: #FFFBFB;
	focus-thickness: 0;
}