HPBar{
	trackSkin: Embed(source="progressbar.swf", symbol="FighterTrackBar");
	barSkin: Embed(source="progressbar.swf", symbol="FighterHpBar");
}
MPBar{
	trackSkin: Embed(source="progressbar.swf", symbol="FighterTrackBar");
	barSkin: Embed(source="progressbar.swf", symbol="FighterMpBar");
}
ProgressBar{
	trackSkin: Embed(source="progressbar.swf", symbol="FighterTrackBar");
	barSkin: Embed(source="progressbar.swf", symbol="FighterHpBar");
}