/* CSS file */

Canvas.FightBg {
	border-skin	:Embed(source='container.swf', symbol='FightPanelBg');
}
Canvas.FightChangePetBg {
	border-skin	:Embed(source='container.swf', symbol='FightChangePetBg');
}

Canvas.FightOperateCatchBg{
	border-skin	:Embed(source='component.swf', symbol='FightOperateCatchBg');
}

Canvas.FightPetOperateBg{
	border-skin	:Embed(source='component.swf', symbol='FightPetOperatePanelBg');
}

Canvas.FightOperateBg{
	border-skin	:Embed(source='component.swf', symbol='FightOperatePanelBg');
}

Canvas.FightBeltBagBg {
	border-skin	:Embed(source='container.swf', symbol='FightBeltBagBg');
}

Canvas.FightSkillBg {
	border-skin	:Embed(source='container.swf', symbol='FightSkillBg');
}

Button.CancelAutoFight {
	up-skin: Embed(source='component.swf', symbol='CancelAutoFightButton_upSkin');
	over-skin: Embed(source='component.swf', symbol='CancelAutoFightButton_overSkin');
	down-skin: Embed(source='component.swf', symbol='CancelAutoFightButton_downSkin');
}

Button.FightProtect {
	up-skin: Embed(source='component.swf', symbol='FightProtectBtn_upSkin');
	over-skin: Embed(source='component.swf', symbol='FightProtectBtn_overSkin');
	down-skin: Embed(source='component.swf', symbol='FightProtectBtn_downSkin');
	disabled-skin: Embed(source='component.swf', symbol='FightProtectBtn_disabledSkin');
	selected-up-skin: Embed(source='component.swf', symbol='FightProtectBtn_downSkin');
	selected-over-skin: Embed(source='component.swf', symbol='FightProtectBtn_overSkin');
	selected-down-skin: Embed(source='component.swf', symbol='FightProtectBtn_downSkin');
}

Button.FightCatch {
	up-skin: Embed(source='component.swf', symbol='FightCatchBtn_upSkin');
	over-skin: Embed(source='component.swf', symbol='FightCatchBtn_overSkin');
	down-skin: Embed(source='component.swf', symbol='FightCatchBtn_downSkin');
	disabled-skin: Embed(source='component.swf', symbol='FightCatchBtn_disabledSkin');
	selected-up-skin: Embed(source='component.swf', symbol='FightCatchBtn_downSkin');
	selected-over-skin: Embed(source='component.swf', symbol='FightCatchBtn_overSkin');
	selected-down-skin: Embed(source='component.swf', symbol='FightCatchBtn_downSkin');
}

Button.FightSkill {
	up-skin: Embed(source='component.swf', symbol='FightSkillBtn_upSkin');
	over-skin: Embed(source='component.swf', symbol='FightSkillBtn_overSkin');
	down-skin: Embed(source='component.swf', symbol='FightSkillBtn_downSkin');
	disabled-skin: Embed(source='component.swf', symbol='FightSkillBtn_disabledSkin');
	selected-up-skin: Embed(source='component.swf', symbol='FightSkillBtn_downSkin');
	selected-over-skin: Embed(source='component.swf', symbol='FightSkillBtn_overSkin');
	selected-down-skin: Embed(source='component.swf', symbol='FightSkillBtn_downSkin');
}

Button.FightEdit {
	up-skin: Embed(source='component.swf', symbol='FightEditBtn_upSkin');
	over-skin: Embed(source='component.swf', symbol='FightEditBtn_overSkin');
	down-skin: Embed(source='component.swf', symbol='FightEditBtn_downSkin');
	disabled-skin: Embed(source='component.swf', symbol='FightEditBtn_disabledSkin');
	selected-up-skin: Embed(source='component.swf', symbol='FightEditBtn_downSkin');
	selected-over-skin: Embed(source='component.swf', symbol='FightEditBtn_overSkin');
	selected-down-skin: Embed(source='component.swf', symbol='FightEditBtn_downSkin');
}

Button.FightDefend {
	up-skin: Embed(source='component.swf', symbol='FightDefendBtn_upSkin');
	over-skin: Embed(source='component.swf', symbol='FightDefendBtn_overSkin');
	down-skin: Embed(source='component.swf', symbol='FightDefendBtn_downSkin');
	disabled-skin: Embed(source='component.swf', symbol='FightDefendBtn_disabledSkin');
	selected-up-skin: Embed(source='component.swf', symbol='FightDefendBtn_downSkin');
	selected-over-skin: Embed(source='component.swf', symbol='FightDefendBtn_overSkin');
	selected-down-skin: Embed(source='component.swf', symbol='FightDefendBtn_downSkin');
}
Button.FightChangePet {
	up-skin: Embed(source='component.swf', symbol='FightChangePetBtn_upSkin');
	over-skin: Embed(source='component.swf', symbol='FightChangePetBtn_overSkin');
	down-skin: Embed(source='component.swf', symbol='FightChangePetBtn_downSkin');
	disabled-skin: Embed(source='component.swf', symbol='FightChangePetBtn_disabledSkin');
	selected-up-skin: Embed(source='component.swf', symbol='FightChangePetBtn_downSkin');
	selected-over-skin: Embed(source='component.swf', symbol='FightChangePetBtn_overSkin');
	selected-down-skin: Embed(source='component.swf', symbol='FightChangePetBtn_downSkin');
}
Button.FightAttack {
	up-skin: Embed(source='component.swf', symbol='FightAttackBtn_upSkin');
	over-skin: Embed(source='component.swf', symbol='FightAttackBtn_overSkin');
	down-skin: Embed(source='component.swf', symbol='FightAttackBtn_downSkin');
	disabled-skin: Embed(source='component.swf', symbol='FightAttackBtn_disabledSkin');
	selected-up-skin: Embed(source='component.swf', symbol='FightAttackBtn_downSkin');
	selected-over-skin: Embed(source='component.swf', symbol='FightAttackBtn_overSkin');
	selected-down-skin: Embed(source='component.swf', symbol='FightAttackBtn_downSkin');
}

Button.FightEscape {
	up-skin: Embed(source='component.swf', symbol='FightEscapeBtn_upSkin');
	over-skin: Embed(source='component.swf', symbol='FightEscapeBtn_overSkin');
	down-skin: Embed(source='component.swf', symbol='FightEscapeBtn_downSkin');
	disabled-skin: Embed(source='component.swf', symbol='FightEscapeBtn_disabledSkin');
	selected-up-skin: Embed(source='component.swf', symbol='FightEscapeBtn_downSkin');
	selected-over-skin: Embed(source='component.swf', symbol='FightEscapeBtn_overSkin');
	selected-down-skin: Embed(source='component.swf', symbol='FightEscapeBtn_downSkin');
}

Button.FightBag {
	up-skin: Embed(source='component.swf', symbol='FightBagBtn_upSkin');
	over-skin: Embed(source='component.swf', symbol='FightBagBtn_overSkin');
	down-skin: Embed(source='component.swf', symbol='FightBagBtn_downSkin');
	disabled-skin: Embed(source='component.swf', symbol='FightBagBtn_disabledSkin');
	selected-up-skin: Embed(source='component.swf', symbol='FightBagBtn_downSkin');
	selected-over-skin: Embed(source='component.swf', symbol='FightBagBtn_overSkin');
	selected-down-skin: Embed(source='component.swf', symbol='FightBagBtn_downSkin');
}

Button.FightAuto {
	up-skin: Embed(source='component.swf', symbol='FightAutoBtn_upSkin');
	over-skin: Embed(source='component.swf', symbol='FightAutoBtn_overSkin');
	down-skin: Embed(source='component.swf', symbol='FightAutoBtn_downSkin');
	disabled-skin: Embed(source='component.swf', symbol='FightAutoBtn_disabledSkin');
	selected-up-skin: Embed(source='component.swf', symbol='FightAutoBtn_downSkin');
	selected-over-skin: Embed(source='component.swf', symbol='FightAutoBtn_overSkin');
	selected-down-skin: Embed(source='component.swf', symbol='FightAutoBtn_downSkin');
}

Panel.AutoFightSetting {
	border-skin	:Embed(source='container.swf', symbol='AutoFightSettingBg');
}

Canvas.FirstSkillIcon {
	background-image	:Embed(source='container.swf', symbol='FirstSkillIcon');
}

Canvas.SecondSkillIcon {
	background-image	:Embed(source='container.swf', symbol='SecondSkillIcon');
}