
/*****选择角色界面*****/
Canvas.HeroSelectItemHBorder {
	borderSkin: Embed(source="login.swf", symbol="HeroSelectHighLightBorder");
}
Canvas.HeroSelectItemBg {
	borderSkin: Embed(source="login.swf", symbol="HeroSelectBg");
}
Canvas.HeroSelectItemDisableBg {
	borderSkin: Embed(source="login.swf", symbol="HeroSelectDisableBg");
}
Canvas.HeroSelectEffectBg {
	borderSkin: Embed(source="login.swf", symbol="HeroSelectEffectBg");
}
Button.CreateHeroButton2 {
	downSkin: Embed(source="login.swf", symbol="CreateHeroButton2_downSkin");
	overSkin: Embed(source="login.swf", symbol="CreateHeroButton2_overSkin");
	upSkin: Embed(source="login.swf", symbol="CreateHeroButton2_upSkin");
	disabledSkin: Embed(source="login.swf", symbol="CreateHeroButton2_disableSkin");
}
Button.StartGameButton {
	downSkin: Embed(source="login.swf", symbol="StartGameButton_downSkin");
	overSkin: Embed(source="login.swf", symbol="StartGameButton_overSkin");
	upSkin: Embed(source="login.swf", symbol="StartGameButton_upSkin");
	disabledSkin: Embed(source="login.swf", symbol="StartGameButton_disableSkin");
}
Button.DeleteHeroButton {
	downSkin: Embed(source="login.swf", symbol="DeleteHeroButton_downSkin");
	overSkin: Embed(source="login.swf", symbol="DeleteHeroButton_overSkin");
	upSkin: Embed(source="login.swf", symbol="DeleteHeroButton_upSkin");
	disabledSkin: Embed(source="login.swf", symbol="DeleteHeroButton_disableSkin");
}
/*****创建角色界面*****/
Button.CYButton {
	downSkin: Embed(source="login.swf", symbol="CYButton_downSkin");
	overSkin: Embed(source="login.swf", symbol="CYButton_overSkin");
	upSkin: Embed(source="login.swf", symbol="CYButton_upSkin");
	selectedUpSkin: Embed(source="login.swf", symbol="CYButton_selectedUpSkin");
	selectedOverSkin: Embed(source="login.swf", symbol="CYButton_selectedUpSkin");
	selectedDownSkin: Embed(source="login.swf", symbol="CYButton_selectedUpSkin");
}
Button.NWButton {
	downSkin: Embed(source="login.swf", symbol="NWButton_downSkin");
	overSkin: Embed(source="login.swf", symbol="NWButton_overSkin");
	upSkin: Embed(source="login.swf", symbol="NWButton_upSkin");
	selectedUpSkin: Embed(source="login.swf", symbol="NWButton_selectedUpSkin");
	selectedOverSkin: Embed(source="login.swf", symbol="NWButton_selectedUpSkin");
	selectedDownSkin: Embed(source="login.swf", symbol="NWButton_selectedUpSkin");
}
Button.SNButton {
	downSkin: Embed(source="login.swf", symbol="SNButton_downSkin");
	overSkin: Embed(source="login.swf", symbol="SNButton_overSkin");
	upSkin: Embed(source="login.swf", symbol="SNButton_upSkin");
	selectedUpSkin: Embed(source="login.swf", symbol="SNButton_selectedUpSkin");
	selectedOverSkin: Embed(source="login.swf", symbol="SNButton_selectedUpSkin");
	selectedDownSkin: Embed(source="login.swf", symbol="SNButton_selectedUpSkin");
}
Button.XYButton {
	downSkin: Embed(source="login.swf", symbol="XYButton_downSkin");
	overSkin: Embed(source="login.swf", symbol="XYButton_overSkin");
	upSkin: Embed(source="login.swf", symbol="XYButton_upSkin");
	selectedUpSkin: Embed(source="login.swf", symbol="XYButton_selectedUpSkin");
	selectedOverSkin: Embed(source="login.swf", symbol="XYButton_selectedUpSkin");
	selectedDownSkin: Embed(source="login.swf", symbol="XYButton_selectedUpSkin");
}
Button.MaleButton {
	downSkin: Embed(source="login.swf", symbol="MaleButton_downSkin");
	overSkin: Embed(source="login.swf", symbol="MaleButton_downSkin");
	upSkin: Embed(source="login.swf", symbol="MaleButton_upSkin");
	selectedUpSkin: Embed(source="login.swf", symbol="MaleButton_downSkin");
	selectedOverSkin: Embed(source="login.swf", symbol="MaleButton_downSkin");
	selectedDownSkin: Embed(source="login.swf", symbol="MaleButton_downSkin");
}
Button.FemaleButton {
	downSkin: Embed(source="login.swf", symbol="FemaleButton_downSkin");
	overSkin: Embed(source="login.swf", symbol="FemaleButton_downSkin");
	upSkin: Embed(source="login.swf", symbol="FemaleButton_upSkin");
	selectedUpSkin: Embed(source="login.swf", symbol="FemaleButton_downSkin");
	selectedOverSkin: Embed(source="login.swf", symbol="FemaleButton_downSkin");
	selectedDownSkin: Embed(source="login.swf", symbol="FemaleButton_downSkin");
}
Button.MaleButton {
	downSkin: Embed(source="login.swf", symbol="MaleButton_downSkin");
	overSkin: Embed(source="login.swf", symbol="MaleButton_downSkin");
	upSkin: Embed(source="login.swf", symbol="MaleButton_upSkin");
	selectedUpSkin: Embed(source="login.swf", symbol="MaleButton_downSkin");
}
Button.LeftHeroHeadButton {
	downSkin: Embed(source="login.swf", symbol="LeftHeroHeadButton_downSkin");
	overSkin: Embed(source="login.swf", symbol="LeftHeroHeadButton_downSkin");
	upSkin: Embed(source="login.swf", symbol="LeftHeroHeadButton_upSkin");
	disabledSkin: Embed(source="login.swf", symbol="LeftHeroHeadButton_disableSkin");
}
Button.RightHeroHeadButton {
	downSkin: Embed(source="login.swf", symbol="RightHeroHeadButton_downSkin");
	overSkin: Embed(source="login.swf", symbol="RightHeroHeadButton_downSkin");
	upSkin: Embed(source="login.swf", symbol="RightHeroHeadButton_upSkin");
	disabledSkin: Embed(source="login.swf", symbol="RightHeroHeadButton_disableSkin");
}
Canvas.HeadSelectBg {
	borderSkin: Embed(source="login.swf", symbol="HeadSelectBg");
}
Button.CreateHeroButton {
	downSkin: Embed(source="login.swf", symbol="CreateHeroButton_downSkin");
	overSkin: Embed(source="login.swf", symbol="CreateHeroButton_overSkin");
	upSkin: Embed(source="login.swf", symbol="CreateHeroButton_upSkin");
	disabledSkin: Embed(source="login.swf", symbol="CreateHeroButton_disableSkin");
}
Button.BackButton {
	downSkin: Embed(source="login.swf", symbol="BackButton_downSkin");
	overSkin: Embed(source="login.swf", symbol="BackButton_overSkin");
	upSkin: Embed(source="login.swf", symbol="BackButton_upSkin");
	disabledSkin: Embed(source="login.swf", symbol="BackButton_disableSkin");
}
TextInput.CreateHeroTextInputBg {
	borderSkin: Embed(source="login.swf", symbol="CreateHeroTextInputBg");
	borderStyle: none;
	color: #E0C185;
	letterSpacing: 1;
	font-family:	"Arial,宋体";
	font-size:		12;
	focus-thickness: 0;
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 3;
}
Canvas.HeroHeadLabelBg {
	borderSkin: Embed(source="login.swf", symbol="HeroHeadLabelBg");
}
Canvas.HeroNameLabelBg {
	borderSkin: Embed(source="login.swf", symbol="HeroNameLabelBg");
}
Canvas.CYInfoText {
	borderSkin: Embed(source="login.swf", symbol="CYInfoText");
}
Canvas.SNInfoText {
	borderSkin: Embed(source="login.swf", symbol="SNInfoText");
}
Canvas.NWInfoText {
	borderSkin: Embed(source="login.swf", symbol="NWInfoText");
}
Canvas.XYInfoText {
	borderSkin: Embed(source="login.swf", symbol="XYInfoText");
}
