/* CSS file */
global {
	color:			#BBBBAA;
	font-family:	"Arial,宋体";
	font-size:		12;
	focus-thickness:  0;
	modalTransparencyColor: #000000;
	modalTransparencyBlur:  0;
	modalTransparency:      0.3;
}
List {
	color: #EEEEEE;
	textRollOverColor: #EEEEEE;
	textSelectedColor: #EEEEEE;
	border-style			:none;
	background-color		:#221F18;
	alternating-item-colors	:#2C281C,#221F18;
	text-align				:left;
	roll-over-color			:#181512;
	selection-color			:#333333;
}

Label {
	color: #BBBBAA;
}

ScrollBar {
	downArrowDisabledSkin: Embed(source="component.swf", symbol="ScrollArrowDown_disabledSkin");
	downArrowDownSkin: Embed(source="component.swf", symbol="ScrollArrowDown_downSkin");
	downArrowOverSkin: Embed(source="component.swf", symbol="ScrollArrowDown_overSkin");
	downArrowUpSkin: Embed(source="component.swf", symbol="ScrollArrowDown_upSkin");
	thumbDownSkin: Embed(source="component.swf", symbol="ScrollThumb_downSkin");
	thumbIcon: Embed(source="component.swf", symbol="ScrollBar_thumbIcon");
	thumbOverSkin: Embed(source="component.swf", symbol="ScrollThumb_overSkin");
	thumbUpSkin: Embed(source="component.swf", symbol="ScrollThumb_upSkin");
	trackSkin: Embed(source="component.swf", symbol="ScrollTrack_Skin");
	upArrowDisabledSkin: Embed(source="component.swf", symbol="ScrollArrowUp_disabledSkin");
	upArrowDownSkin: Embed(source="component.swf", symbol="ScrollArrowUp_downSkin");
	upArrowOverSkin: Embed(source="component.swf", symbol="ScrollArrowUp_overSkin");
	upArrowUpSkin: Embed(source="component.swf", symbol="ScrollArrowUp_upSkin"); 
	
}
Canvas.LoadingBg {
	borderSkin: Embed(source="login.swf", symbol="LoadingBg");
}
Canvas.LoginBg {
	borderSkin: Embed(source="login.swf", symbol="LoginBg");
}
/***登陆界面***/
LoginView {
	loginSkin: Embed(source="login.swf", symbol="LoginMovieClip");
}
CheckBox.LoginCheckBox {
	color: #CCCCCC;
	text-roll-over-color:#FFFFFF;
	text-selected-color:#FFFFFF;
	up-icon:	Embed(source='login.swf', symbol='LoginCheckBox_upSkin');
	over-icon:	Embed(source='login.swf', symbol='LoginCheckBox_upSkin');
	down-icon:	Embed(source='login.swf', symbol='LoginCheckBox_downSkin');
	selected-up-icon:	Embed(source='login.swf', symbol='LoginCheckBox_downSkin');
	selected-over-icon:	Embed(source='login.swf', symbol='LoginCheckBox_downSkin');
	selected-down-icon:	Embed(source='login.swf', symbol='LoginCheckBox_upSkin');
}
Button.LoginGameButton {
	downSkin: Embed(source="login.swf", symbol="LoginGameButton_downSkin");
	overSkin: Embed(source="login.swf", symbol="LoginGameButton_overSkin");
	upSkin: Embed(source="login.swf", symbol="LoginGameButton_upSkin");
	disabledSkin: Embed(source="login.swf", symbol="LoginGameButton_disableSkin");
}
Button.LoginingGameButton {
	downSkin: Embed(source="login.swf", symbol="LoginingGameButton_Skin");
	overSkin: Embed(source="login.swf", symbol="LoginingGameButton_Skin");
	upSkin: Embed(source="login.swf", symbol="LoginingGameButton_Skin");
	disabledSkin: Embed(source="login.swf", symbol="LoginingGameButton_Skin");
}


/***登陆界面***/
LoaderLoginView {
	loginSkin: Embed(source="login.swf", symbol="LoginMovieClip");
}

Canvas.CanvasUserRegister {
	border-skin	:Embed(source='container.swf', symbol='CanvasUserRegister');
}
Canvas.CanvasUserRegisterInfo {
	border-skin	:Embed(source='container.swf', symbol='CanvasUserRegisterInfo');
}

Canvas.UserRegisterError {
	border-skin	:Embed(source='container.swf', symbol='UserRegisterError');
}
Canvas.UserAgreementBg {
	border-skin	:Embed(source='container.swf', symbol='UserAgreementBg');
}
Canvas.UserAddictionProtectBg {
	border-skin	:Embed(source='container.swf', symbol='UserAddictionProtectBg');
}

Canvas.UserEkeyBg {
	border-skin	:Embed(source='container.swf', symbol='UserEkeyBg');
}
Canvas.UserkeyProtectBg {
	border-skin	:Embed(source='container.swf', symbol='UserKeyProtectBg');
}

Button.RmbShopButton {
	downSkin: Embed(source="component.swf", symbol="RmbShopButton_downSkin");
	overSkin: Embed(source="component.swf", symbol="RmbShopButton_overSkin");
	upSkin: Embed(source="component.swf", symbol="RmbShopButton_upSkin");
	disabledSkin: Embed(source="component.swf", symbol="RmbShopButton_disableSkin");
	font-weight:bold;
	padding-left: 1;
	padding-right: 1;
	color: #FFFFFF;
	text-roll-over-color: #FFFFFF;
	text-selected-color: #FFFFFF;
	disabled-color: #919191;
	up-glow-color: #000000;
	down-glow-color: #000000;
	over-glow-color: #000000;
	disabled-glow-color: #000000;
}

