/* CSS file */
/* 个人操作面板界面，如战斗兽，奴隶，背包，交易等... */
Canvas.RevivalItemBg {
	border-skin	:Embed(source='container.swf', symbol='RevivalBg_upSkin');
}
Canvas.RevivalItemOverBg {
	border-skin	:Embed(source='container.swf', symbol='RevivalBg_overSkin');
}

Canvas.NullPanelBg {
	border-skin	:Embed(source='container.swf', symbol='NullPanelBg');
}

Canvas.HeroHeadBg {
	border-skin	:Embed(source='container.swf', symbol='HeroHeadBg');
}

Canvas.TempBagBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasTempBagBg');
}

Canvas.RevivalBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasRevivalBg');
}

Canvas.AttackBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasAttackBg');
}


Canvas.TeamListBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasTeamListBg');
}

Canvas.PetFriendlinessBg1 {
	border-skin	:Embed(source='container.swf', symbol='PetFriendlinessBg_1');
}

Canvas.PetFriendlinessBg2 {
	border-skin	:Embed(source='container.swf', symbol='PetFriendlinessBg_2');
}

Canvas.PetFriendlinessBg3 {
	border-skin	:Embed(source='container.swf', symbol='PetFriendlinessBg_3');
}

Canvas.PetFriendlinessBg4 {
	border-skin	:Embed(source='container.swf', symbol='PetFriendlinessBg_4');
}

Panel.RelationPanelBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasRelationBg');
}

Panel.QuestsPanelBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasQuestsBg');
}

Panel.MessagePanelBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasMessageBg');
}

Panel.HeroSlavePanelBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasHeroSlaveBg');
}

Panel.HeroSkillPanelBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasHeroSkillBg');
}

Panel.HeroInfoPanelBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasHeroInfoBg');
}

Panel.SecondaryHeroInfoBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasSecondaryHeroInfoBg');
}

Panel.HeroPetPanelBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasHeroPetBg');
}

Panel.ViewPetInfoPanelBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasViewPetInfoPanelBg');
}

Panel.HeroListPanelBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasHeroListBg');
}

Canvas.RemindHeaderBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasRemindHeaderBg');
}

Canvas.RemindFooterBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasRemindFooterBg');
}

Canvas.RemindContentBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasRemindContentBg');
}

Panel.HeroBagPanelBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasHeroBagBg');
}

Canvas.PetListItemBg {
	border-skin	:Embed(source='container.swf', symbol='PetListItemBg');
}

Canvas.SkillBg {
	border-skin	:Embed(source='container.swf', symbol='PetListItemBg');
}

Canvas.PetListItemSelectedBg {
	border-skin	:Embed(source='container.swf', symbol='PetListItemSelectedBg');
}

Panel.SendMessageBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasSendMessageBg');
}

Panel.AddFriendBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasAddFriendBg');
}

Panel.AddEnemyBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasAddEnemyBg');
}

Panel.AddBlockBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasAddBlockBg');
}

Panel.InviteJoinVillageBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasInviteJoinVillageBg');
}

Panel.TradeBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasTradeBg');
}

Canvas.CopperIconBg {
	border-skin	:Embed(source='container.swf', symbol='CopperIconBg');
}

Canvas.SilverIconBg {
	border-skin	:Embed(source='container.swf', symbol='SilverIconBg');
}

Canvas.GoldIconBg {
	border-skin	:Embed(source='container.swf', symbol='GoldIconBg');
}

Canvas.WoodIconBg {
	border-skin	:Embed(source='container.swf', symbol='WoodIconBg');
}

Canvas.MineralIconBg {
	border-skin	:Embed(source='container.swf', symbol='MineralIconBg');
}

Canvas.FoodIconBg {
	border-skin	:Embed(source='container.swf', symbol='FoodIconBg');
}

Canvas.MemberIconBg {
	border-skin	:Embed(source='container.swf', symbol='MemberIconBg');
}

IconLabel.CopperIconBg {
	icon:Embed(source='container.swf', symbol='CopperIconBg');
	icon-label-gap: 1;
}

IconLabel.SilverIconBg {
	icon:Embed(source='container.swf', symbol='SilverIconBg');
	icon-label-gap: 1;
}

IconLabel.GoldIconBg {
	icon:Embed(source='container.swf', symbol='GoldIconBg');
	icon-label-gap: 1;
}

IconLabel.WoodIconBg {
	icon:Embed(source='container.swf', symbol='WoodIconBg');
	icon-label-gap: 1;
}

IconLabel.MineralIconBg {
	icon:Embed(source='container.swf', symbol='MineralIconBg');
	icon-label-gap: 1;
}

IconLabel.FoodIconBg {
	icon:Embed(source='container.swf', symbol='FoodIconBg');
	icon-label-gap: 1;
}
Canvas.TaxRateIconBg {
	border-skin	:Embed(source='container.swf', symbol='RateIconBg');
}

Canvas.StabilityIconBg {
	border-skin	:Embed(source='container.swf', symbol='StabilityIconBg');
}

Canvas.ContributionIconBg {
	border-skin	:Embed(source='container.swf', symbol='GoldIconBg');
}

Canvas.MoneyInputBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasMoneyInputBg');
}