/* CSS file */
PercentBarChart {
	text-roll-over-color: #FFFFFF;
}

PercentVerticalBar.GameLoadingCircleBar {
	bar-border-skin: Embed(source="progressbar.swf", symbol="GameLoadingCircleBar");
	bar-left: 0;
	bar-right: 0;
	bar-top: 0;
	bar-bottom: 0;
}

PercentBarChart.teamAllocateDuration {
	border-skin	:Embed(source='progressbar.swf', symbol='TeamAllocateTrack');
	bar-border-skin: Embed(source="progressbar.swf", symbol="TeamAllocateBar");
	bar-left: 1;
	bar-right: 1;
	bar-top: 3;
	bar-bottom: 3;
}

PercentBarChart.teamHp {
	bar-border-skin: Embed(source="progressbar.swf", symbol="ProgressBarBorderRed");
	bar-left: 0;
	bar-right: 0;
	bar-top: 0;
	bar-bottom: 0;
}

PercentBarChart.teamMp {
	bar-border-skin: Embed(source="progressbar.swf", symbol="ProgressBarBorderBlue");
	bar-left: 0;
	bar-right: 0;
	bar-top: 0;
	bar-bottom: 0;
}

PercentCircleChart.expTrackBar {
	bar-border-skin: Embed(source="progressbar.swf", symbol="ProgressCircleBorderBg");
	bar-left: 1;
	bar-right: 1;
	bar-top: 1;
	bar-bottom: 1;
}

PercentCircleChart.autoExploreTrackBar {
	border-skin: Embed(source="progressbar.swf", symbol="AutoExploreBarBorderBg");
	bar-border-skin: Embed(source="progressbar.swf", symbol="AutoExploreBar");
	bar-left: 1;
	bar-right: 1;
	bar-top: 1;
	bar-bottom: 1;
}

PercentBarChart.fighterHpBar {
	border-skin: Embed(source="progressbar.swf", symbol="FighterTrackBar");
	bar-border-skin: Embed(source="progressbar.swf", symbol="FighterHpBar");
	bar-left: 0;
	bar-right: 0;
	bar-top: 0;
	bar-bottom: 0;
}

PercentBarChart.fighterMpBar {
	border-skin: Embed(source="progressbar.swf", symbol="FighterTrackBar");
	bar-border-skin: Embed(source="progressbar.swf", symbol="FighterMpBar");
	bar-left: 0;
	bar-right: 0;
	bar-top: 0;
	bar-bottom: 0;
}

PercentBarChart.redTrackBar {
	border-skin: Embed(source="progressbar.swf", symbol="ProgressBarTransparentBorder");
	bar-border-skin: Embed(source="progressbar.swf", symbol="ProgressBarBorderRed");
	bar-left: 1;
	bar-right: 1;
	bar-top: 1;
	bar-bottom: 1;
}

PercentBarChart.transparentGrayRedTrackBar {
	border-skin: Embed(source="progressbar.swf", symbol="ProgressBarBorderGrayWithAlpha");
	bar-border-skin: Embed(source="progressbar.swf", symbol="ProgressBarBorderRed");
	bar-left: 1;
	bar-right: 1;
	bar-top: 1;
	bar-bottom: 1;
}

PercentBarChart.blueTrackBar {
	border-skin: Embed(source="progressbar.swf", symbol="ProgressBarTransparentBorder");
	bar-border-skin: Embed(source="progressbar.swf", symbol="ProgressBarBorderBlue");
	bar-left: 2;
	bar-right: 2;
	bar-top: 1;
	bar-bottom: 1;
}

PercentBarChart.transparentGrayBlueTrackBar {
	border-skin: Embed(source="progressbar.swf", symbol="ProgressBarBorderGrayWithAlpha");
	bar-border-skin: Embed(source="progressbar.swf", symbol="ProgressBarBorderRed");
	bar-left: 1;
	bar-right: 1;
	bar-top: 1;
	bar-bottom: 1;
}

PercentBarChart.greenTrackBar {
	border-skin: Embed(source="progressbar.swf", symbol="ProgressBarTransparentBorder");
	bar-border-skin: Embed(source="progressbar.swf", symbol="ProgressBarBorderGreen");
	bar-left: 1;
	bar-right: 1;
	bar-top: 1;
	bar-bottom: 1;
}

PercentBarChart.transparentGrayBlueTrackBar {
	border-skin: Embed(source="progressbar.swf", symbol="ProgressBarBorderGrayWithAlpha");
	bar-border-skin: Embed(source="progressbar.swf", symbol="ProgressBarBorderBlue");
	bar-left: 1;
	bar-right: 1;
	bar-top: 1;
	bar-bottom: 1;
}

PercentBarChart.grayTrackBar {
	border-skin: Embed(source="progressbar.swf", symbol="ProgressBarTransparentBorder");
	bar-border-skin: Embed(source="progressbar.swf", symbol="ProgressBarBorderGray");
	bar-left: 1;
	bar-right: 1;
	bar-top: 1;
	bar-bottom: 1;
}

PercentBarChart.expBar {
	border-skin: Embed(source="progressbar.swf", symbol="ExpBarBorderBg");
	bar-border-skin: Embed(source="progressbar.swf", symbol="ExpBar");
	bar-left: 3;
	bar-right: 3;
	bar-top: 3;
	bar-bottom: 3;
}

PercentBarChart.buildingUpgradeBar {
	border-skin: Embed(source="progressbar.swf", symbol="BuildingUpgradeBarBorder");
	bar-border-skin: Embed(source="progressbar.swf", symbol="BuildingUpgradeBar");
	bar-left: 16;
	bar-right: 16;
	bar-top: 3;
	bar-bottom: 3;
}

Canvas.VillageProsperityBar {
	border-skin	:Embed(source='progressbar.swf', symbol='VillageProsperityBar');
}

Canvas.defaultProgressPopupBarBg {
	border-skin	:Embed(source='progressbar.swf', symbol='defaultProgressPopupBarBg');
}

ProgressPopup.defaultProgressPopup {
	background-alpha: 0;
	border-skin: ClassReference(null);
	progressBarSkin	:Embed(source='progressbar.swf', symbol='defaultProgressPopupBar');
}

PetAptBar.petAptBar {
	bar-border-skin:Embed(source='progressbar.swf', symbol='PetAptBarBorder');
	bar-advance-skin:Embed(source='progressbar.swf', symbol='PetAptNormalBar');
	bar-normal-skin:Embed(source='progressbar.swf', symbol='PetAptAdvanceBar');
	bar-left:3;
	bar-right:3;
}
PetAptBarNew.petAptBarNew {
	bar-skin:Embed(source='progressbar.swf', symbol='PetAptBar');
	red-bar-shine:Embed(source='progressbar.swf', symbol='PetAptRedShine');
	bule-bar-shine:Embed(source='progressbar.swf', symbol='PetAptBuleShine');
	yellow-bar-shine:Embed(source='progressbar.swf', symbol='PetAptYellowShine');
}