/* CSS file */
/* 场景内相关界面，如战斗兽放养，探索，自动探索，探索结果，战斗界面等... */

Canvas.PetTrainingBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasPetTrainingBg');
}

Canvas.AutoExploreBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasAutoExploreBg');
}

Canvas.AutoExploreResultBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasAutoExploreResultBg');
}

Canvas.FightCardBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasFightCardBg');
}

Canvas.FightSceneBossBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasFightSceneBossBg');
}

Canvas.RandomEventBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasRandomEventBg');
}

Canvas.FightResultBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasFightResultBg');
}

Canvas.WildSceneButtonGroupBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasWildSceneButtonGroupBg');
}


Canvas.TeamDropBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasTeamDropBg');
}

Canvas.WildSceneMiniMapBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasWildSceneMiniMapBg');
}

Canvas.WildSceneNormalCardBoxBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasWildSceneNormalCardBoxBg');
}

Canavas.AutoExploreStatusBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasAutoExploreStatusBg');
}

Canvas.MapLayerBg {
	close-button-disabled-skin: Embed(source="component.swf", symbol="MinimizeButton_downSkin");
	close-button-down-skin: Embed(source="component.swf", symbol="MinimizeButton_downSkin");
	close-button-over-skin: Embed(source="component.swf", symbol="MinimizeButton_overSkin");
	close-button-up-skin: Embed(source="component.swf", symbol="MinimizeButton_upSkin");
	border-skin	:Embed(source='container.swf', symbol='CanvasMapLayerBg');
}

