/* CSS file */

Panel.NpcHeadBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasNpcHeadBg');
}

Panel.NpcDescBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasNpcDescBg');
}

Panel.WallBuildingBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasWallBg');
}

Panel.TempleBuildingBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasTempleBg');
}

Panel.StorageBuildingBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasStorageBuildingBg');
}

Panel.MachineBuildingBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasMachineBuildingBg');
}

Panel.CreateMachineBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasCreateMachineBg');
}

Panel.DefendStoreBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasDefendStoreBg');
}

Panel.WeaponStoreBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasWeaponStoreBg');
}

Panel.PreciouseStoreBG {
	border-skin	:Embed(source='container.swf', symbol='CanvasPreciouseStoreBg');
}

Panel.MedicineStoreBG {
	border-skin	:Embed(source='container.swf', symbol='CanvasMedicineStoreBg');
}

Panel.FoodStoreBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasFoodStoreBg');
}

Panel.BuildingDetailBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasBuildingDetailBg');
}

Panel.NewBuildPopupBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasBuildBg');
}

Panel.WoodBuildingBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasWoodBuildingBg');
}

Panel.MineBuildingBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasMineBuildingBg');
}

Panel.FarmBuildingBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasFarmBuildingBg');
}

Panel.TentBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasTentBg');
}

Panel.PetStoreBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasPetStoreBg');
}

Panel.TowerBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasTowerBg');
}

Panel.AltarBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasAltarBg');
}

Panel.MarketBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasMarketBg');
}

Panel.VillageManagerBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasVillageManagerBg');
}

Panel.SlaveStoreBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasSlaveStoreBg');
}

Panel.AuditBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasAuditBg');
}

Panel.ChangeTaxBg {
	border-skin :Embed(source='container.swf', symbol='CanvasChangeTaxBg');
}

Panel.ApplyWorkBg {
	border-skin :Embed(source='container.swf', symbol='CanvasApplyWorkBg');
}

Panel.AbattoirBg {
	border-skin :Embed(source='container.swf', symbol='CanvasAbattoirBg');
}

Panel.PetForgeBg {
	border-skin :Embed(source='container.swf', symbol='CanvasPetForgeBg');
}

Panel.UpgradeConfirmBg {
	border-skin :Embed(source='container.swf', symbol='CanvasUpgradeConfirmBg');
}

Panel.HonourStoreBg {
	border-skin :Embed(source='container.swf', symbol='CanvasHonourStoreBg');
}

Panel.PetForgeBg {
	border-skin :Embed(source='container.swf', symbol='CanvasPetForgeBg');
}

Panel.AppointSlaveBg {
	border-skin :Embed(source='container.swf', symbol='CanvasAppointSlaveBg');
}

Panel.JewelryStoreBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasJewelryStoreBg');
}

Panel.AssignVillageItemBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasAssignVillageItemBg');
}

Panel.ProduceBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasProduceBg');
}

Canvas.InjectEquipmentBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasInjectEquipmentBg');
}

Panel.LearnProduceSkillBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasLearnProduceSkillBg');
}

Panel.CreateVillageBg {
	border-skin	:Embed(source='container.swf', symbol='CanvasCreateVillageBg');
}